 <!--COMP231 Web Application Development - Book a'Smile Team
    --Principal Developers's : 
    ---Name: Ricardo Lopez Tuiran           ---Student ID: 301167302 
    ---Name: Elias Pena Evertz              ---Student ID: 301166037
    ---Name: Silvana Gjini                  ---Student ID: 301201477
    ---Name: Bhupinder Dabb                 ---Student ID: 301187371
    
    --Support Team Members (Secondary Developers, UI/UX Designers)    
    ---Name: Ankit Kodan                    ---Student ID: 301251952 
    ---Name: Rishabh Dev Dogra              ---Student ID: 301255606
    ---Name: Balkaran Singh                 ---Student ID: 301169877
    ---Name: Mehwish Mehmood                ---Student ID: 301137378
    ---Name: Ala’a Al-khdour                ---Student ID: 301230316
    --Web App name: Book a'Smile
    --Description: The Dental Appointments Management System is a software application that will allow users to register, 
    --edit and manage their personal accounts, book appointments according to the dentist availability, keep track on appointments 
    --and have a history of procedures with dates and specific notes.   
  -->
  <head>
    <meta charset='utf-8' />
    <link href='fullcalendar/main.css' rel='stylesheet' />
    <script src='fullcalendar/main.js'></script>    
    <script>                      
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
                                                              initialView: 'dayGridMonth',
                                                              initialDate: '2022-11-07',
                                                              headerToolbar: {
                                                                left: 'prev,next today',
                                                                center: 'title',
                                                                right: 'dayGridMonth,timeGridWeek,timeGridDay'
                                                              },
                                                              events: 
                                                              [
                                                                {
                                                                  title: 'Teeth cleaning',
                                                                  start: '2022-12-23'
                                                                },
                                                                {
                                                                  title: '2 Cavities',
                                                                  start: '2022-12-07'
                                                                },
                                                                {
                                                                  title: 'wisdom tooth extraction',
                                                                  start: '2022-12-04'
                                                                },
                                                                {
                                                                  title: 'My tooth is aching',
                                                                  start: '2023-01-12'
                                                                }
                                                              ]
                                                            });
        calendar.render();
      });
    </script>
  </head>
  <body>
    <%- include('../partials/header.ejs'); %>
    <div class="container">
      <div id='calendar'> </div>
    </div>
    
    <%- include('../partials/footer.ejs'); %>
  </body>
  