  <!--COMP231 Web Application Development - Mantis Developers Team
    --Principal Developers's : 
    ---Name: Ricardo Lopez Tuiran           ---Student ID: 301167302 
    ---Name: Elias Pena Evertz              ---Student ID: 301166037
    ---Name: Silvana Gjini                  ---Student ID: 301201477
    ---Name: Bhupinder Dabb                 ---Student ID: 301187371
    
    --Support Team Members (Secondary Developers, UI/UX Designers)    
    ---Name: Ankit Kodan                    ---Student ID: 
    ---Name: Rishabh Dev Dogra              ---Student ID:
    ---Name: Balkaran Singh                 ---Student ID:
    ---Name: Mehwish Mehmood                ---Student ID:
    ---Name: Ala’a Al-khdour                ---Student ID:    

    --Web App name: Book a'Smile
    --Description: The Dental Appointments Management System is a software application that will allow users to register, 
    --edit and manage their personal accounts, book appointments according to the dentist availability, keep track on appointments 
    --and have a history of procedures with dates and specific notes.   
  -->

<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div id="full-size bg-image shadow-2-strong">
      <div class="bg-image shadow-2-strong">
        <div class="mask">
          
          <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <div class="fadeIn justify-content-center align-items-center">
                <img src="..\Assets\images\logoDental.png"  class="d-block mx-lg-auto img-fluid" alt="" loading="lazy"> 
                </div>
              </div>
              <div class="col-lg-6 text-white">
                <div class="lc-block mb-3">
                  <div editable="rich">
                    <div class="fadeIn justify-content-center align-items-center">
                    <h2 class="fw-bold display-5">Welcome To Book a'Smile</h2>
                    </div>
                  </div>
                </div>
          
                <div class="lc-block mb-3">
                  <div editable="rich">
                    <div class="fadeIn justify-content-center align-items-center">
                    <p class="lead">Planning to book a Dentist appointment or serving as a professional Dentist in our platform. Start by doing registration, complete your profile and start creating Better Smiles. Click the button below to get started!
                    </p>
                    </div>
                  </div>
                </div>
          
                <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
                  <div class="fadeIn justify-content-center align-items-center">
                  <a class="btn btn-primary px-4 me-md-2" href="../dentist/add" role="button">Register</a>       
                  </div>     
                </div>
          
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>

<%- include('../partials/footer.ejs'); %>
